body{
    color: rgb(70, 0, 135);
    text-shadow: 1px 1px 3px black;
  }
  .welcome{
    background-color: white;
    font-size: 35px;
    width:290px;
    padding-left: 30px;
    color: rgb(47, 21, 71);
    text-shadow: 1px 1px 2px black;
    border: 6px solid rgba(46, 232, 232, 0.578); 
    box-sizing: border-box;
    box-shadow: 5px 5px greenyellow;
    border-radius: 12px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 10px;
   }
   hr{
    margin-top: 3px;
   }
   .middle-section{
    border:4px solid blue;
    margin-left:5px;
    margin-right:5px;
    padding:20px;
   }
   .para-1,.para-2,.para-3,.image-div,.image-div1{
        background-color: white;
        font-size: 20px;
        text-align: center;
        border: 2px solid green;
        border-radius: 7px;
        padding: 5px 10px;
        color: rgb(70, 0, 135);
        text-shadow: 1px 1px 3px black;
        display: inline-block;
        margin: 0;
   }
   .para-1,.image-div,.para-3,.image-div1{
    box-shadow: 2px 2px tomato;
   }
   .para-2{
    float: right;
   }
   .para-3{
    text-align: left;
    padding: 0;
    font-size: 16PX;
    width:130px;
   }
   .list-item{
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: 4px;
   }
   .middle-section-div2{
    margin-top: 120px;
   }
   .fixed-div{
    border:2px solid red;
    background-color:yellow;
    position: fixed;
    bottom:8%;
    left: 40%;
    width:290px;
    border-radius: 30px;
    padding: 10px 8px 10px 8px;
    margin:0;
   }
   .fixed-para1,.fixed-para2{
    display: inline-block;
    font-size: 18px;
    color: rgb(70, 0, 135);
    text-shadow: 1px 1px 3px black;
    margin: 0;
   }
   .fixed-para2{
    float: right;
   }
   .bottom-section{
    background-color: rgba(127, 255, 212, 0.836);
    width:700px;
    
    margin: auto;
    margin-top: 20px;
    border: 8px solid blue;
    text-align: center;
    padding: 15px;
   }
   .welcome-para{
    font-size: 40px;
    color: rgb(70, 0, 135);
    text-shadow: 1px 1px 3px black;
    margin: auto;
   }
   .flex-div{
    display: flex;
    margin-top:20px;
    justify-content: space-between;
   }
  .bottom-section-div1,.bottom-section-div2,.bottom-section-div3{
  background-color: white;
  border:1px solid black ;
  margin: 14px;
  height:200px;
  padding-top: 15px;
  }
  .diff,.diff1{
    font-size: 20px;
    color: rgb(70, 0, 135);
    text-shadow: 1px 1px 3px black;
    margin: auto;
  }
  .diff1{
  font-size: 15px;
  }
  .diff2{
  font-size: 16px;
  }
  .image-div img{
  width: 100px;
  border: 2px solid green;
  }
  .image-div{
  float: right;
  width:120px
  }
  .image-div1{
  width:130px;
  float: right;
  height:125px;
  }